@font-face {
  font-family: Recursive;
  src: url('fonts/Recursive-Regular.ttf');
}
@font-face {
  font-family: Recursive;
  src: url('fonts/Recursive-Bold.ttf');
  font-weight: bold;
}

* {
  font-family: Recursive, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  NAVBAR  */
#navbar {
  height: 6rem;
  background-color: #6ba368;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 5rem;
}
#navbar h1 {
  font-size: 2.5rem;
}
#navbar input {
  height: 3rem;
  width: 25rem;
  padding: 1rem;
}

/* MAIN */
#main {
  display: flex;
  justify-content: space-around;
}
.main-employees-container {
  display: flex;
}

/* SECTION CONTAINERS */

.section-container {
  display: flex;
  justify-content: center;
  padding: 2rem 0 0 0;
}

#departments {
  margin-bottom: -0.12rem;
}

/* ADD BUTTON CONTAINER */
.add-button-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.5rem;
}
.select-button {
  margin-right: 2rem;
  background-color: white;
  border-radius: 50px;
}
.select-button:hover {
  opacity: 0.9;
}
.button-selected {
  color: #ff704d;
}
.add-button {
  padding-right: 1rem;
  font-size: 2rem;
}
.add-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* TABLES */

th {
  font-weight: bold;
  color: white;
  background-color: #6ba368 !important;
  position: sticky;
  top: 0;
  z-index: 0;
  height: 3rem;
}

th,
td {
  text-align: center !important;
  width: 40vw !important;
  border: 1px solid black !important;
}

td:hover {
  color: white;
  background-color: #515b3a !important;
  opacity: 0.5;
  font-weight: bold;
  cursor: pointer;
}

/* EMPLOYEES TABLE */

.employees-table {
  height: 34rem;
  display: block;
  overflow-y: scroll;
  font-size: 1.2rem;
  border-radius: 3px;
}

/* FLEXIBLE TABLES */
.flex-table,
.flex-table-header {
  font-size: 1.2rem;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 0 !important;
}
.flex-table-header:hover {
  cursor: pointer;
  opacity: 0.9;
}

.flex-table {
  display: block;
  overflow-y: scroll;
  height: 11.3rem;
}

/* SELECT CLICK */
.selected-category-container td {
  opacity: 0.5;
}

.selected-category {
  background-color: #515b3a !important;
  color: white;
  font-weight: bold;
  opacity: 0.8 !important;
}

.rotate {
  transform: rotate(180deg);
  transition: all 0.5 linear;
}

/* ADD MODALS */
.add-title {
  display: flex;
  padding: 1rem;
}
.add-header {
  width: 80%;
}
.add-cancel {
  display: flex;
  width: 20%;
  justify-content: space-around;
}
.add-cancel:hover {
  cursor: pointer;
  opacity: 0.8;
}
.floating-form-field {
  margin-bottom: 0.5rem;
}
.form-select-input {
  height: 4rem;
}
.create-button {
  border-radius: 5px;
  padding: 0.4rem;
  background-color: #6ba368;
  color: white;
}
.create-button:hover {
  opacity: 0.8;
}
