body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar {
  height: 6rem;
  background-color: lightgrey;
}

.section-container {
  display: flex;
  justify-content: center;
  padding: 2rem 0 0 0;
}

.section-table {
  height: 36.8rem;
  display: block;
  overflow-y: scroll;
  font-size: 1.2rem;
  border-radius: 3px;
}

th {
  font-weight: bold;
  color: white;
  background-color: black !important;
  position: sticky;
  top: 0;
  z-index: 0;
  height: 3rem;
}

th,
td {
  text-align: center !important;
  width: 40vw !important;
  border: 1px solid black !important;
}

td:hover {
  color: white;
  background-color: black !important;
  font-weight: bold;
  cursor: pointer;
}

/* FLEXIBLE TABLES */
.flex-table {
  font-size: 1.2rem;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 0 !important;
}
.flex-table th:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* SELECT CLICK */
.selected-category-container td {
  opacity: 0.5;
}

.selected-category {
  background-color: green !important;
  color: white;
  font-weight: bold;
  opacity: 1 !important;
}

.rotate {
  transform: rotate(180deg);
  transition: all 0.5 linear;
}
